ItemSince: 24.0
# Whether to use natural google tts, this has lower limt than the other one.
UseNaturalVoice: false
MaxItemPerFeed: 20
ConcurrentWorkers: 20
CredentialPath: ./credential.json
Feeds:
  #- http://example.com/rss/address
